<!DOCTYPE HTML>
<html>
<head>
    <title>Редактировать данные</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<Div></Div>

</table>
<hr>
<form action="/save/{{id}}" method="GET">

    <p><input name="lastName" value={{lastName}} placeholder="Фамилия"></p>
    <p><input name="firstName" value={{firstName}} placeholder="Имя"></p>
    <p><input name="patronymic" value={{patronymic}} placeholder="Отчество"></p>
    <p><input name="passport" value={{passport}} placeholder="Паспорт"></p>
    <p><input name="phoneNumber" value={{phoneNumber}} placeholder="Номер телефона"></p>
    <p><input type="submit" value="Сохранить изменения"></p>

</form>

</body>
</html>